# Git
.git
.gitignore

# Python
venv
.venv
**/__pycache__
.pytest_cache
.mypy_cache
.ruff_cache
*.pyc

# Node
frontend/node_modules
frontend/.next
frontend/dist
frontend/build

# Environment variables
**/.env
**/.env.*

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Testing
coverage

# Documentation
docs

# Misc
*.sqlite
*.db
